<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list__item">
        <a class="nav__link nav__link--home" href="/">R<span>ick </span>v<span>an </span>Mook</a>
      </li>
      {% for page in site.pages %}
      {% if page.title %}
      <li class="nav__list__item">
        <a class="nav__link nav__link--list" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
