<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--<title>{{ site.title }}</title>-->
    <title>{{ site.baseurl }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:300,600|Amiri' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script>if(window.location.protocol!=='https:'){window.location.protocol='https:'}</script>
</head>
