.about {

	.wrapper {

		height: 100%;
	}
}

.about__wrapper {

	min-height: 100%;

	a {

		color: $primary;
	}

	margin-top: 60px;
	// equal to footer height
	margin-bottom: -160px;

	&:after {
		content: "";
		display: block;
	}
}
.about__footer, .about__wrapper:after {
	height: 160px;
}
.about__footer {
	width: 100%;
	background: #252830;
}

.about__footer__cta {

	width: 165px;

	@include mq(is-medium) {

		width: 27%;
		max-width: 260px;
	}

	display: inline-block;
	margin-top: 15px;
	padding: 15px 0 30px;
	color: #b2bad4;
	text-decoration: none;
	border-bottom: solid 1px #3a3d44;


	// Copy
	font-family: $font-sans;
	font-weight: 600;
	font-size: 16px;
}

.about__main {

	font-family: $font-serif;
	line-height: 1.1;

	@include fluid-value(font-size, 20px, 42px);
	width: 97%;
	@include fluid-value(max-width, 255px, 800px);
}

.about__sub {

	font-family: $font-sans;
	margin: 20px 0 63px;

	@include fluid-value(font-size, 12px, 18px);
	@include fluid-value(max-width, 255px, 650px);
}

.about__title {

	font-family: $font-serif;
	line-height: 1.1;
	margin: 20px 0;
	@include fluid-value(font-size, 20px, 42px);
}

.about__list {

	font-family: $font-sans;
	@include fluid-value(font-size, 10px, 16px);
}

.about__list__item {

	margin-bottom: 10px;
	line-height: 1.3;

	i {
		font-style: normal;
		font-size: 0.9em;
		color: $color-light-grey;
	}
}