.about {

	.wrapper {

		/* Display & Box Model */
		height: 100%;
	}
}

.about__wrapper {

	/* Display & Box Model */
	min-height: 100%;
	margin-top: 60px;
	margin-bottom: -160px;

	&:after {

		/* Display & Box Model */
		display: block;

		/* Other */
		content: "";
	}

	a {

		/* Appearance */
		color: $primary;
	}
}

.about__footer, .about__wrapper:after {

	/* Display & Box Model */
	height: 160px;
}
.about__footer {

	/* Display & Box Model */
	width: 100%;

	/* Appearance */
	background-color: $dark-bg;
}

.about__footer__cta {

	/* Display & Box Model */
	display: inline-block;
	width: 165px;
	margin-top: 15px;
	padding: 15px 0 30px;

	/* Appearance */
	color: #b2bad4;
	text-decoration: none;
	border-bottom: solid 1px #3a3d44;


	/* Copy */
	font-family: $font-sans;
	font-weight: 600;
	font-size: 16px;

	@include mq(is-medium) {

		/* Display & Box Model */
		width: 27%;
		max-width: 260px;
	}
}

.about__main {

	/* Display & Box Model */
	width: 85%;

	/* Copy */
	font-family: $font-serif;
	font-size: 44px;
	line-height: 1.4;
}

.about__sub {

	/* Display & Box Model */
	width: 80%;
	margin: 20px 0 63px;

	/* Copy */
	font-size: 18px;
	font-family: $font-sans;
}