
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {

    /* Display & Box Model */
    margin: 0;
    padding: 0;
}

* {

    box-sizing: border-box;
}

body, html {

    height: 100%;
}

body {

    /* Display & Box Model */
    min-width: 480px;
}

ul {

    /* Appearance */
    list-style: none;
}

.wrapper {

    /* Display & Box Model */
    min-height: 100%;
    padding-top: 115px;
}

.max-width {

    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}