.card-grid {

	margin-left: -$gutter;
	padding-bottom: $gutter;
	overflow: hidden;
	width: calc(100% + #{$gutter * 2});
}

.card {

	background: #fff;
	border-radius: 2px;
	display: inline-block;
	min-height: 100px;
	margin: 0 $gutter #{$gutter * 2};
	position: relative;
	float: left;
	width: calc(50% - #{$gutter * 2});

	@include mq(is-medium) {

		width: calc(100% - #{$gutter * 2});
	}


	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

	&:hover {

		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		.card__image {

			background-color: rgba(15, 16, 19, 0);
		}
	}
}

.card__link {
	text-decoration: none;
}

.card__image {

	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	background-position: center;
	background-size: cover;
	background-color: #0f1013;
	background-blend-mode: luminosity;
}


.card__content {

	padding: 16px;
}

.card__content__title {

	margin-bottom: 4px;
	color: $colorText;
	@include fluid-value(font-size, 18px, 24px);
}

.card__content__sub-title {

	color: $colorText--secondary;
	@include fluid-value(font-size, 12px, 14px);
}

.card__footer {

	margin-bottom: 16px;

	&:before {

		content: "";
		display: block;
		width: 100%;
		margin-bottom: 16px;
		height: 1px;
		background-color: $colorDivider;
	}
}

.card__footer__link-wrapper {


	margin: 0 8px;
}

.card__footer__link {

	font-weight: 700;
	color: $colorAccent;
	padding: 8px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;

	@include fluid-value(font-size, 12px, 14px);

	&:hover {

		color: $colorHover;
	}
}