@import "variables";
@import "mixins";

.header {

	/* Positioning */
	z-index: $zIndexHeader;

	/* Display & Box Model */
	width: 100%;
	@include fluid-value(padding-top, 25px, 50px);
	@include fluid-value(padding-bottom, 25px, 50px);

	/* Appearance */
	color: $colorText--on-primary;
	background-color: $colorPrimary;
	@include shadowBottom;

	/* Text */
	text-align: center;
}

.header__title {


	font-weight: 400;

	@include fluid-value(font-size, 30px, 56px);
	@include fluid-value(margin-top, -6px, -12px);
}

.header__sub-title {
	letter-spacing: 1px;
	@include fluid-value(font-size, 12px, 25px);
}

.header__link {

	position: relative;
	text-decoration: none;
	fill: $colorText--on-primary;
	display: inline-block;
	@include fluid-value(margin-top, 5px, 20px);
	@include fluid-value(margin-left, 5px, 10px);
	@include fluid-value(margin-right, 5px, 10px);
	@include fluid-value(height, 20px, 32px);
	@include fluid-value(width, 20px, 32px);

	&:hover {

		opacity: 0.65;
	}
}

.header__link__icon {

	height: 100%;
	width: 100%;
}


.header__link__tooltip {

	position: absolute;
	color: $colorText--on-primary;
	background-color: $colorText--secondary;
	font-size: 14px;
	display: inline-block;
	padding: 0 16px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: 1px;
}