.home__title {

	display: table;
	margin: 0 auto;
	@include fluid-value(padding-top, 18px, 40px);
	@include fluid-value(padding-bottom, 36px, 80px);
	width: 100%;
	background-color: $white;
}

.home__title__copy {

	// Display & Box Model
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


.home__title__name {

	// Positioning
	position: relative;

	// Appearance
	color: $primary;

	// Copy
	@include fluid-value(font-size, 40px, 108px);
	font-family: $font-serif;
	line-height: 0.87;
}

.home__title__label {

	// Positioning
	position: relative;

	margin-top: 10px;

	// Copy
	font-family: $font-sans;
	@include fluid-value(font-size, 10px, 18px);
	text-transform: uppercase;
	line-height: 1.18;

	@include fluid-value(letter-spacing, 1px, 2px);


	// Appearance
	color: #252830;
}