.home {

	.wrapper {

		height: 100%;
		background-color: #dbdddf;
	}
}

.home__wrapper {

	position: relative;
	min-height: 100%;
}

.home__header-wrapper {

	background-color: #fff;
	width: 100%;
}

.home__header {

	width: 36.5%;
	max-width: 420px;
	margin-left: 10%;
	padding-right: 20px;
}

.home__header__title {

}

.home__header__subtitle {

}

.home__header__cta {

	display: inline-block;
	background-color: #dbdddf;
	color: #fff;
	padding: 20px 30px;
	position: relative;
	top: 35px;
}

.home__writing {

	min-height: 100%;
	background-color: #27292e;
	position: absolute;
	top: 0;

	color: #fff;
	left: 46.5%;
	width: 45.8%;
}