.home {

	.wrapper {

		height: 100%;
	}
}

.home__wrapper {

	position: relative;
	min-height: 100%;
}

.home__header-wrapper {

	width: 100%;
	background-color: #dbdddf;

	@include mq(is-medium) {

		height: 100%;
		position: fixed;
	}
}

.home__header {

	position: relative;

	width: 100%;
	background-color: #fff;

	&:before {

		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		width: 100%;
		height: 64px;
		background: #dbdddf;
	}

}

.home__header__labels {

	width: 90%;
	margin: 0 auto;
	padding-bottom: 70px;

	@include mq(is-medium) {
		width: 36.5%;
		max-width: 420px;
		margin-left: 10%;
		padding-right: 20px;
	}
}

.home__header__title {

	color: $primary;
}

.home__header__subtitle {

	color: $copy-home-sub-title;
}

.home__header__cta {

	display: inline-block;
	background-color: #dbdddf;
	color: #fff;
	padding: 20px 30px;
	position: relative;
	top: 35px;
}

.home__writing__post {

	a {

		display: table;
		width: 100%;
		border-bottom: 1px solid $dark-bg-border;
		padding: 7.16% 0;
	}

	&__number {

		display: table-cell;
		width: 11%;
		color: $primary;
	}

	&__title {

		display: table-cell;
		padding-right: 11%;
		color: $white;
	}
}

.home__writing {

	width: 100%;
	background: $light-bg;
}

.home__writing__label {

	font-weight: normal;
	padding-bottom: 5.37%;
	color: $copy-alt;
	border-bottom: 1px solid $dark-bg-border;
}

.home__writing-inner {

	position: relative;
	width: 100%;
	padding: 3.5%;

	color: $white;
	background-color: $dark-bg;

	@include mq(is-small) {

		width: 90%;
		margin: 0 auto;
	}

	@include mq(is-medium) {

		position: absolute;
		min-height: 100%;
		top: 0;
		padding-top: 15%;

		left: 46.5%;
		width: 45.8%;
	}
}