.post {

	position: relative;
	padding: 80px 0;
	background-color: #f3f3f3;
}

.post__content p, .post__footer__content, .post__header__content {

	position: relative;
	@include mq(is-small) {

		width: 80%;
		padding: 0 9.56%;
	}

	@include mq(is-large) {

		width: 60%;
	}

	width: 100%;

	max-width: 826px;
	margin: 0 auto;
	padding: 0 5%;
	box-sizing: border-box;
	background-color: #fff;
}

.post__header {

	padding-top: 80px;

	&:before {

		content: "";
		position: absolute;
		top: 0;
		height: 355px;
		width: 100%;
		background-color: #252830;
	}
}

.post__header__content {

	padding-top: 80px;
	padding-bottom: 60px;
}

.post__header__title {

	display: table;

	margin-bottom: 35px;
}

.post__header__title__number {

	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
}

.post__header__title__label {

	display: table-cell;
	vertical-align: top;

}

.post__header__date {

	padding: 20px 0;
	text-transform: uppercase;
	border-top: 1px solid #e9e9ea;
	border-bottom: 1px solid #e9e9ea;
}

.post__content {

	p {

		position: relative;

		@include mq(is-small) {

			width: 80%;
			padding: 0 9.56%;
		}

		@include mq(is-large) {

			width: 60%;
		}

		width: 100%;
		max-width: 826px;
		margin: 0 auto;
		padding: 0 5%;
		box-sizing: border-box;
		background-color: #fff;
	}

	.highlight {

		display: block;
		position: relative;
		background-color: #252830;

		pre {

			border: 2px solid #3e424a;
			border-radius: 5px;

			width: 90%;
			max-width: 1100px;
			margin: 60px auto;

			@include mq(is-large) {

				width: 80%;
			}

			code {


				display: block;
				border: 1px solid #3e424a;
				margin: 40px 18px 20px;
				overflow: auto;
				padding: 5%;
			}
		}

		&:after, &:before {
			content: "";
			display: block;

			@include mq(is-small) {

				width: 80%;
			}

			@include mq(is-large) {

				width: 60%;
			}

			width: 100%;
			max-width: 826px;
			margin: 0 auto;
			box-sizing: border-box;
			background-color: #fff;
			height: 60px;
		}
	}
}

.post__footer__content {

	padding-top: 80px;
	padding-bottom: 90px;
}

.post__footer__title {

	padding: 30px 0;
	border-top: 1px solid #e9e9ea;
	text-transform: uppercase;
	text-align: center;
}

.post__footer__link-wrapper {

	display: flex;
	align-items: stretch;
	flex-direction: row;
	width: 100%;
}

.post__footer__link {

	flex-direction: column;
	padding: 40px 0;
	width: 50%;
	border-top: 1px solid #e9e9ea;
	border-bottom: 1px solid #e9e9ea;

	&:first-child {

		margin-right: 20px;
	}
}

.post__footer {


	width: 100%;

	&:before {

		content: "";
		position: absolute;
		bottom: 0;
		height: 180px;
		width: 100%;
		background-color: #252830;
	}
}