.post {

	background-color: #f3f3f3;


	p {

		position: relative;
		width: 60%;
		max-width: 826px;
		margin: 0 auto;
		padding: 0 9.56%;
		box-sizing: border-box;
		background: #fff;
	}

	.highlight {

		display: block;
		position: relative;
		background: #252830;

		pre {

			width: 51.4%;
			margin: 60px auto;
			border: 2px solid #3e424a;
			border-radius: 5px;

			code {


				display: block;
				border: 1px solid #3e424a;
				margin: 40px 18px 20px;
				overflow: auto;
				padding: 5%;
			}
		}

		&:after, &:before {
			content: "";
			display: block;
			width: 60%;
			max-width: 826px;
			margin: 0 auto;
			box-sizing: border-box;
			background: #fff;
			height: 60px;
		}
	}
}

.post__content {

	//width: 62.7906976744186%;
	//margin: 0 auto;
	//background: skyblue;
}