$white: #fff;
$black: #000;

$gutter: 15px;

$zIndexHeader: 10;

$colorBodyBg: #fafafa;
$colorPrimary: #03A9F4;
$colorPrimary--dark: #0288D1;
$colorPrimary--light: #B3E5FC;
$colorAccent: #FF4081;
$colorText--on-primary: #fff;
$colorText: #212121;
$colorText--secondary: #727272;
$colorDivider: #e3e3e3;
$colorHover: #616161;
