$gutter: 15px;
$primary: #f3866e;
$secondary: #000;

$light-bg: #dbdddf;
$lighter-bg: #f3f3f3;
$dark-bg: #252830;
$dark-bg-border: #3c3d42;
$color-light-grey: #929292;
$white: #fff;
$black: #000;
$black-opacity: rgba(0,0,0,0.7);
$white-opacity-dimmed: rgba(255,255,255,0.1);
$black-opacity-dimmed: rgba(0,0,0,0.1);

$copy-body: $dark-bg;
$copy-title: $dark-bg;
$copy-home-sub-title: #191919;
$copy-alt: #c2cae6;

$header-height: 140px;

//$font-serif: 'Adamina', serif;
$font-serif: 'Amiri', serif;
$font-sans: 'Raleway', sans-serif;
$font-alt: Georgia, serif;
$font-code: 'Source Code Pro', monospace;

$zIndex1: 1;
$zIndex2: 2;
$zIndex3: 3;
$zIndex4: 4;
$zIndex5: 5;
$zIndex10: 10;