.work {

	.wrapper {

		/* Appearance */
		background: $dark-bg;
	}
}

.work__label {

	/* Display & Box Model */
	width: 73%;
	padding-top: 5.6%;
	padding-bottom: 20px;
	padding-right: 12.5%;

	/* Copy */
	font-family: $font-sans;
	font-size: 18px;

	/* Appearance */
	color: #b2bad4;
	border-bottom: 1px solid #3a3d44;
}

.work__list {

	/* Display & Box Model */
	width: 90%;
	max-width: 1120px;
	overflow: hidden;
	margin: 0 auto;
	padding: 5.2% 0;

	@include mq(is-medium) {

		/* Display & Box Model */
		width: 81.45%;
	}
}

.work__item {

	/* Positioning */
	position: relative;

	/* Display & Box Model */
	width: 100%;
	float: left;
	margin: 20px 0;
	padding-bottom: 48px;

	/* Appearance */
	background: $work-item-bg;

	@include mq(is-small) {

		/* Display & Box Model */
		width: 47%;
		height: 518px;
		padding-bottom: 0;

		&:nth-child(odd) {

			/* Display & Box Model */
			margin-right: 3%;
		}
	}

	@include mq(is-medium) {

		/* Display & Box Model */
		width: 31.73%;
		margin: 0.8%;

		&:nth-child(odd) {

			/* Display & Box Model */
			margin-right: 0.8%;
		}
	}

	@include mq(is-large) {

		/* Display & Box Model */
		width: 22.75%;
		margin: 0.9%;

		&:nth-child(odd) {

			/* Display & Box Model */
			margin-right: 0.9%;
		}
	}

	.image-container--bg {


		/* Appearance */
		background-color: $work-image-bg;
		background-blend-mode: luminosity;
		-webkit-transition: all 350ms;
		transition: all 350ms;
	}

	&:hover {

		.image-container--bg {

			/* Appearance */
			background-color: $work-image-bg-hover;
		}
	}
}

.work__item__copy {

	/* Display & Box Model */
	padding: 7%;

	/* Appearance */
	color: $copy-alt;

	@include mq(is-small) {

		/* Display & Box Model */
		padding: 12%;
	}
}

.work__item__title {

	/* Display & Box Model */
	display: block;
	padding-bottom: 11%;
	margin-bottom: 11%;

	/* Copy */
	font-style: italic;
	font-size: 20px;
	font-family: $font-serif;

	/* Appearance */
	border-bottom: 1px solid $white-opacity-dimmed;
	color: $white;

	@include mq(is-small) {

		/* Display & Box Model */
		min-height: 82px;
	}
}

.work__item__description {

	/* Display & Box Model */
	margin-bottom: 10px;

	/* Copy */
	font-size: 14px;
	font-family: $font-sans;
	font-weight: 300;

	/* Appearance */
	color: $work-item-copy;

	a {

		/* Copy */
		text-decoration: underline;

		/* Appearance */
		color: inherit;
	}
}

.work__item__cta {

	/* Positioning */
	position: absolute;
	bottom: 0;
	left: 0;

	/* Display & Box Model */
	height: 68px;
	width: 86%;
	padding-top: 20px;
	margin: 0 7%;

	/* Appearance */
	color: $work-item-cta;
	border-top: 1px solid $white-opacity-dimmed;

	/* Copy */
	text-transform: uppercase;
	font-size: 12px;
	font-family: $font-sans;
	letter-spacing: 2px;

	@include mq(is-small) {

		/* Display & Box Model */
		width: 76%;
		margin: 0 12%;
	}
}