.work {

	.wrapper {

		background: #252830;
	}
}

.work__wrapper {


}

.work__label {

	color: #b2bad4;
	width: 50%;
	padding-top: 65px;
	padding-bottom: 20px;
	padding-right: 12.5%;
	margin-bottom: 60px;
	border-bottom: 1px solid #3a3d44;
}

.work__list {

	overflow: hidden;

	width: 90%;

	@include mq(is-medium) {

		width: 81.45%;
	}

	max-width: 1120px;
	margin: 0 auto;
}

.work__list__item {

	background: #2a2e36;
	float: left;

	width: 100%;
	margin: 20px 0;

	@include mq(is-small) {

		&:nth-child(odd) {

			margin-right: 3%;
		}

		width: 47%;
	}


	@include mq(is-medium) {

		&:nth-child(odd) {

			margin-right: 0.8%;
		}

		margin: 0 0.8%;
		width: 31.73%;
	}

	@include mq(is-large) {

		&:nth-child(odd) {

			margin-right: 0.9%;
		}

		margin: 0 0.9%;
		width: 22.75%;
	}
}