.post-wrapper {

	position: relative;
	padding: 11% 0;
	background-color: $lighter-bg;

	@include mq(is-small) {

		padding: 5.55% 0;
	}

	@include mq(is-extra-large) {

		padding: 80px 0;
	}

	&:before {

		position: absolute;
		height: 355px;
		content: "";
		top: 0;
		width: 100%;
		background-color: $dark-bg;
	}

	&:after {

		content: "";
		position: absolute;
		bottom: 0;
		height: 180px;
		width: 100%;
		background-color: #252830;
	}

	.highlight {

		display: block;
		position: relative;
		word-wrap: break-word;
		background-color: #252830;
		padding: 120px 0;
		margin: -60px 0;
		font-size: 12px;
		line-height: 1.5;

		pre, p {

			position: relative;

			@include mq(is-small) {

				width: 80%;
				padding: 0 9.56%;
			}

			@include mq(is-large) {

				width: 60%;
			}

			width: 100%;
			max-width: 826px;
			margin: 0 auto;
			padding: 0 5%;
			box-sizing: border-box;
		}

		pre {

			code {

				position: relative;
				display: block;
				font-family: $font-code;
			}
		}
	}
}

.content__media-wrapper {

	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
}

.content__media {


	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.post__content {

	position: relative;
	z-index: $zIndex1;

	width: 100%;

	max-width: 826px;
	margin: 0 auto;
	padding: 60px 5%;
	box-sizing: border-box;
	background-color: #fff;


	@include mq(is-small) {

		width: 80%;
		padding: 60px 9.56%;
	}

	@include mq(is-large) {

		width: 60%;
	}

	h4, h3, h2 {

		font-family: $font-serif;
		font-size: 30px;
		margin: 30px 0;

		&:first-child {

			margin-top: 0;
		}
	}

	p {

		font-family: $font-alt;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.5px;
		background-color: #fff;
		margin-bottom: 20px;

		&:last-child {

			margin-bottom: 0;
		}
	}
}

.post__header {

	margin-bottom: 60px;
}

.post__header__title {

	display: table;

	margin-bottom: 35px;
	font-family: $font-serif;

}

.post__header__title__number {

	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
	font-size: 18px;
	letter-spacing: 1px;
	color: $primary;

	position: relative;
	top: 6px;
	line-height: 1.15;
}

.post__header__title__label {

	display: table-cell;
	vertical-align: top;
	font-size: 48px;
	line-height: 1.125;

}

.post__header__date {

	padding: 20px 0;
	text-transform: uppercase;
	border-top: 1px solid #e9e9ea;
	border-bottom: 1px solid #e9e9ea;

	text-transform: uppercase;
	font-size: 12px;
	font-family: $font-sans;
	letter-spacing: 2px;
}

.post__footer__content {

	margin: 53px 0 30px;
}

.post__footer__title {

	padding: 30px 0;
	border-top: 1px solid #e9e9ea;
	text-transform: uppercase;
	text-align: center;


	font-size: 12px;
	font-family: $font-sans;
	letter-spacing: 2px;
}

.post__footer__link-wrapper {

	display: flex;
	align-items: stretch;
	flex-direction: row;
	width: 100%;
}

.post__footer__link {

	display: block;
	flex-direction: column;
	width: 50%;
	border-bottom: 1px solid #e9e9ea;

	&:first-child {

		margin-right: 20px;
	}
}

.post__footer__link__title {

	display: table-cell;
	font-family: $font-serif;
	font-size: 24px;
	line-height: 1.25;
	color: #252830;
}

.post__footer__link__number {

	display: table-cell;
	vertical-align: top;
	font-family: $font-serif;
	font-size: 14px;
	color: $primary;
	letter-spacing: 1px;
}

.post__footer {

	width: 100%;
}