---
layout: default
---
<article class="post">

  <header class="post__header">
    <div class="post__header__content">
      <div class="post__header__title">
        <div class="post__header__title__number">{{ page.number }}</div>
        <h1 class="post__header__title__label">{{ page.title }}</h1>
      </div>
      <div class="post__header__date">
        Written on <b><time>{{ page.date | date: "%b %-d, %Y" }}</time></b>
      </div>
    </div>
  </header>

  <section class="post__content">
    {{ content }}
  </section>

  <footer class="post__footer">
    <div class="post__footer__content">
      <div class="post__footer__title">What's Next</div>
      <div class="post__footer__link-wrapper">
        <a class="post__footer__link" href="{{ page.previous.url | prepend: site.baseurl }}">
          {{ page.previous.number }} - {{ page.previous.title }}<br>
        </a>
        <a class="post__footer__link" href="{{ page.next.url | prepend: site.baseurl }}">
          {{ page.next.number }} - {{ page.next.title }}
        </a>
      </div>
    </div>
  </footer>
</article>
